[global/wm]

margin-bottom = 0
margin-top = 0

include-file = "./colors.ini"
include-file = "./modules.ini"

[bar/main]
width = 96%
height = 30
offset-y = 10
offset-x = 2%
top = true
fixed-center = true

wm-restack = bspwm

override-redirect = false
scroll-up = next
scroll-down = prev

enable-ipc = true

background = $colors.crust
foreground = $colors.text

font-0 = "JetBrainsMono Nerd Font:style=Regular:size=10;2"
font-1 = "JetBrainsMono Nerd Font:style=Bold:size=10;2"
font-2 = "JetBrainsMono Nerd Font:size=19;5"
font-3 = "Symbols Nerd Font:9;4"
font-4 = "Symbols Nerd Font:9;4"
font-5 = "Source Han Sans CN:size=9;2"

modules-left = date
modules-center = bspwm
modules-right = updates filesystem wlan pulseaudio battery session

tray-position = right
cursor-click = pointer

[bar/external]
monitor = HDMI-1-0
modules-right = wlan pulseaudio margin session
inherit = bar/main

[settings]
screenchange-reload = true
format-padding = 1

pseudo-transparency = false
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
